<mat-sidenav-container class="sidenav-container"
                      hasBackdrop="false">
  <mat-sidenav opened mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="other"  routerLinkActive="active">Точки доступа</a>
      <a mat-list-item routerLink="other"  routerLinkActive="active">Пользователи</a>
      <a mat-list-item routerLink="design"  routerLinkActive="active">Стиль страницы</a>
      <a mat-list-item routerLink="other"  routerLinkActive="active">Гости</a>
      <a mat-list-item routerLink="other"  routerLinkActive="active">Wi-Fi зоны</a>
      <a mat-list-item routerLink="other"  routerLinkActive="active">Биллинг</a>
      <a mat-list-item routerLink="other"  routerLinkActive="active">Служебные</a>
      <a mat-list-item routerLink="other"  routerLinkActive="active">FAQ</a>
      <a mat-list-item routerLink="other"  routerLinkActive="active">Статистика</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
