<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>
        Подключение к сети <br>
        {{ title }}
      </mat-card-title>
    </mat-card-header>

    <form class="example-form">
      <mat-card-content>
        <mat-checkbox fxLayout="row" fxLayoutAlign="center center" color="primary">
          Принять условия <a href='#'>соглашения</a>
        </mat-checkbox>
        <mat-form-field class="example-full-width">
          <mat-label>Номер телефона</mat-label>
          <span matPrefix>+7&nbsp;</span>
          <input matInput
                 type="text"
                 [textMask]="{mask: mask}"
                 placeholder="(XXX)-XXX-XXXX"
                 minlength="10"
                 class="example-left-align form-control"
                  [formControl]="number">
        </mat-form-field>
      </mat-card-content>
      <button mat-raised-button class="btn-block">Продолжить</button>
    </form>
    <mat-chip-list color="primary" fxLayout="row" fxLayoutAlign="center center" class="language">
      <mat-chip [selected]="language === 'RU'" color="primary" (click)="language = 'RU'">RU</mat-chip>
      <mat-chip [selected]="language === 'EN'" color="primary" (click)="language = 'EN'">EN</mat-chip>
    </mat-chip-list>
  </mat-card>

</div>
