<form>
  <mat-form-field class="">
    <mat-label>Введите название сети</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field>
  <mat-form-field class="">
    <mat-label>Добавьте ваш логотип</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field>
  <div class="file">
    <button mat-stroked-button class="upload" (click)="fileInput.click()">
      <mat-icon aria-hidden="false" aria-label="upload icon">cloud_upload</mat-icon>
      <span class="upload__text">
        <ng-container *ngIf="fileInputName === ''; else elseBlock">Добавьте фон</ng-container>
        <ng-template #elseBlock>{{fileInputName}}</ng-template>
      </span>
      <input type="file" #fileInput (change)="setFileName(fileInput)">
    </button>
  </div>
  <button mat-raised-button>Применить</button>
</form>
